.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background: #000;
}
.card-pricing {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: auto;
    max-width: 1140px;
}
.card {
    border: 1px solid #eee;
    padding: 1rem;
    text-align: center;
    color: #eee;
}
.card:hover {
    background-color: #141414;
}
.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
}
.card p {
    padding: 10px 0;
}
.card .bar {
    width: 10%;
    display: block;
    border-bottom: 1px solid #eee;
    margin: 1.5rem auto ;
}
.btc {
    font-size: 4rem;
    font-weight: 600;
    margin: 1rem 0 ;
}
.card .btn {
    margin: 2rem auto;
    display: block;
    width: 80%;
}
@media(max-width: 740px){
    .card-pricing {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        max-width: 90%;
    }
}